.search__submit {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 34px;
    height: 34px;
    border: none;
    outline: none;
    background: url("../../../images/find.svg") no-repeat;
}
