.movies-card__image {
    display: block;
    width: 100%;
    height: 151px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .movies-card__image {
        height: 190px;
    }
}

@media screen and (max-width: 320px) {
    .movies-card__image {
        height: 168px;
    }
}

