.burger-popup__container {
    width: 64%;
    height: 100%;
    background: #202020;
    display: flex;
    justify-content: end;
    padding: 27px 27px 0 0;
}

@media screen and (max-width: 320px) {
    .burger-popup__container {
        width: 100%;
        padding: 19px 19px 0 0;
    }
}
