.movies-navigation__link_active {
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .movies-navigation__link_active {
        padding: 4px 0 4px;
        border-bottom: white solid 2px;
    }
}
