.portfolio__links {
    padding: 50px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media screen and (max-width: 425px) {
    .portfolio__links {
        padding: 40px 0 0;
    }
}
