.tech__item-title {
    margin: 0;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
}

@media screen and (max-width: 768px) {
    .tech__item-title {
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}

