.movies-card-list {
    padding: 70px 70px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    justify-content: center;
    column-gap: 20px;
    row-gap: 38px;
}

@media screen and (max-width: 768px) {
    .movies-card-list {
        grid-template-columns: repeat(auto-fit, 339px);
        padding: 70px 30px 10px;
        column-gap: 30px;
        row-gap: 30px;
    }
}

@media screen and (max-width: 400px) {
    .movies-card-list {
        grid-template-columns: repeat(auto-fit, 300px);
        padding: 40px 10px 10px;
        row-gap: 34px;
    }
}
