.promo__image {
    position: absolute;
    top: 82px;
}

@media screen and (max-width: 768px) {
    .promo__image {
        top: 224px;
    }
}


@media screen and (max-width: 425px) {
    .promo__image {
        top: 142px;
        width: 248px;
    }
}

