.movies-card__name {
    margin: 0;
    width: 226px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: Inter, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


@media screen and (max-width: 320px) {
    .movies-card__name {
        width: 240px;
        font-size: 12px;
    }
}
