.auth-form {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    height: 700px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .auth-form {
        height: 1024px;
        padding: 232px 0;
    }
}

@media screen and (max-width: 450px) {
    .auth-form {
        height: 780px;
        padding: 56px 0 30px;
        align-items: center;
    }
}
