.footer__link {
    color: white;
    font-family: Inter, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    .footer__link {
        font-size: 12px;
    }
}
