.landing-navigation__link {
    color: white;
    font-family: Inter, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
    text-decoration-line: underline;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .landing-navigation__link {
        font-size: 11px;
    }
}
