.portfolio {
    padding: 100px 0 0;
    display: flex;
    flex-direction: column;
    color: white;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 90px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .portfolio {
        padding: 70px 0 0;
    }
}
