.app__fix-height {

}

@media screen and (max-width: 768px) {
    .app__fix-height {
        height: 1024px;
        overflow: hidden;
    }
}

@media screen and (max-width: 320px) {
    .app__fix-height {
        height: 780px;
    }
}
