.form-section__input {
    border-radius: 8px;
    background: #2F2F2F;
    height: 46px;
    border: none;
    outline: none;
    color: #FFF;
    font-family: Inter, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
    padding: 0 15px;
}

